<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="buttons" class="demo-content">
          <h1>Fit-or-Fat</h1>
          <h6>(the name is a subject to change)</h6>
          <button type="button" id="inputlink" class="inputpagelink btn btn-primary btn-md">Input</button>
          <button type="button" id="chartslink" class="chartspagelink btn btn-primary btn-md">Charts</button>
          <button type="button" id="homelink" class="homepagelink btn btn-primary btn-md">Home</button>
          <div id="rfq" class="row">
            <div class="col-md-12">
              <div id="fitness-quotes" class="demo-content">
                <h4>Fitness Quote</h4>
                <p id="fq" class="random-quote"></p>
                <p id="fqa" class="random-quote-author"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h2 class="header">Weight Tracker</h2>
      </div>
      <div class="row">
        <div class="col-md-3"><b>Date</b></div>
        <div class="col-md-3"><b>Weight</b></div>
      </div>
      {{#each Weights}}
      <div class="row">
        <div class="col-md-3">{{createdAt}}</div>
        <div class="col-md-3">{{user_weight}}</div>
      </div>
      {{/each}}
    </div>
    <div class="container">
      <div class="row">
        <h2 class="header">Recent Workouts</h2>
      </div>
      <div class="row">
        <div class="col-md-3"><b>Workout Date</b></div>
        <div class="col-md-3"><b>Type</b></div>
        <div class="col-md-3"><b>Time</b></div>
        <div class="col-md-3"><b>Calories</b></div>
      </div>
      {{#each Activities}}
      <div class="row">
        <div class="col-md-3">{{activity_date}}</div>
        <div class="col-md-3">{{activity_name}}</div>
        <div class="col-md-3">{{activity_quantity}}</div>
        <div class="col-md-3">{{total_cal_burn}}</div>
      </div>
      {{/each}}
    </div>
    <div class="container">
      <div class="row">
        <h2 class="header">Recent Foods</h2>
      </div>
      <div class="row">
        <div class="col-md-3"><b>Date</b></div>
        <div class="col-md-3"><b>Food</b></div>
        <div class="col-md-3"><b></b></div>
        <div class="col-md-3"><b>Calories</b></div>
      </div>
      {{#each Calories}}
      <div class="row">
        <div class="col-md-3">{{food_date}}</div>
        <div class="col-md-3">{{food_name}}</div>
        <div class="col-md-3"></div>
        <div class="col-md-3">{{total_cal_con}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<button type="button" id="sign-in-btn" class="btn btn-primary btn-lg">Sign in</button>
<!-- <p>Or</p> -->
<button type="button" id="new-user-bnt" class="btn btn-primary btn-lg">Create New User</button>
<div class="main-text"></div>
</div>

<script>
  $(document).ready(function () {
    var user_id = 1;
    api.userdataGet(user_id);
  });
</script>
