<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="buttons" class="demo-content">
          <h1>Fit-or-Fat</h1>
          <h6>(the name is a subject to change)</h6>
          <div id="rfq" class="row">
            <div class="col-md-12">
              <div id="fitness-quotes" class="demo-content">
                <h4>Fitness Quote</h4>
                <p id="fq" class="random-quote"></p>
                <p id="fqa" class="random-quote-author"></p>
              </div>
            </div>
            <div class="col-md-12">
              <h2 class="header">Registered Users</h2>
              <ul>
                {{#each Users}}
                <p class="big text">{{id}}. {{username}}<br>
                  {{/each}}
              </ul>

            </div>
          </div>
          <button type="button" id="signinbtn" class="btn btn-primary btn-lg">Sign in</button>
          <!-- <p>Or</p> -->
          <button type="button" id="newuserbnt" class="btn btn-primary btn-lg">Create New User</button>
          <div class="main-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>{{msg}}</h1>
          <h2>This is our Home Page!</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Example Text</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Enter Example Text">
            </div>
            <div class="form-group">
              <label for="example-description">Example Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Enter Example Description"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <h3>Examples:</h3>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div> --
{{!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="buttons" class="demo-content">
          <h1>Fit-or-Fat</h1>
          <h6>(the name is a subject to change)</h6>
          <button type="button" id="signinbtn" class="btn btn-primary btn-lg">Sign in</button>
          <!-- <p>Or</p> -->
          <button type="button" id="newuserbnt" class="btn btn-primary btn-lg">Create New User</button>
          <div class="main-text"></div>
        </div>
      </div>
    </div> --}}

<!-- Random Fitness Quote -->


