<div class="container">
  <!-- HEADER -->
  <div class="row">
    <div class="col-md-12">
      <div id="buttons" class="main-content">
        <h1 class="d-inline display-3">Fit-or-Fat <span class="h1">weight loss tracker</span></h1>
        <!-- <h6>(the name is a subject to change)</h6> -->
        <div class="main-buttons ">
          <button type="button" id="new-user-bnt" class="btn btn-primary btn-lg">Create
            New User</button>
          <button type="button" id="sign-in-btn" class="btn btn-primary btn-lg">Sign
            in</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Random Fitness Quote -->
  <div id="rfq" class="row">
    <div class="col-md-12" id="fitness-quotes">
      <blockquote class="blockquote text-right random-quote main-content">
        <p id="fq"></p>
        <footer id="fqa" class="blockquote-footer random-quote-author">some</footer>
      </blockquote>
    </div>
  </div>
</div>

<!-- Modal for Sing in -->
<div id="sign-in-modal" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sing in</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!-- Input validation -->
        <form id="sign-in-modal-form" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="inputUserName">User name</label>
            <input type="text" class="form-control" id="inputUserName" placeholder="User name" required>
            <div class="invalid-feedback">
              Please enter Your name
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
            <div class="invalid-feedback">
              Please enter password
            </div>
          </div>
          <button id="signinmodalbtn" type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Creating New User -->
<div id="new-user-modal" class="modal fade" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New User</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="new-user-modal-form" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="inputNewUserName">User name</label>
            <input type="text" class="form-control" id="inputNewUserName" placeholder="Create New User name" required>
            <div class="invalid-feedback">
              Please enter user name
            </div>
          </div>
          <div class="form-group">
            <label for="inputNewPassword">Password</label>
            <input type="password" class="form-control" id="inputNewPassword" placeholder="Create New User Password"
              required>
            <div class="invalid-feedback">
              Please enter password
            </div>
          </div>
          <div class="form-group">
            <label for="inputCurrentWeight">Your current weight</label>
            <input type="number" onkeydown="return event.keyCode !== 69" class="form-control" id="inputCurrentWeight"
              placeholder="Input number, LBs" required>
            <div class="invalid-feedback">
              Please enter number
            </div>
          </div>
          <div class="form-group">
            <label for="inputTargetWeight">Your target weight</label>
            <input type="number" onkeydown="return event.keyCode !== 69" class="form-control" id="inputTargetWeight"
              placeholder="Input number, LBs" required>
            <div class="invalid-feedback">
              Please enter number
            </div>
          </div>
          <button id="newusermodalbtn" type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col text-center py-2">
        <button id="footer-btn" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">KIL.R
          Squad</button>
        <p id="copyright">Copyright &copy;
          <span id="year"></span>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- TEAM MODAL -->
<div class="modal fade" id="contactModal" role="dialog" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">This app coded by KIL.R Squad:</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h2><span class="h1 killer">K</span>eith Hemsoth</h2>
          </li>
          <li class="list-group-item">
            <h2><span class="h1 killer">I</span>gor Guba</h2>
          </li>
          <li class="list-group-item">
            <h2><span class="h1 killer">L</span>ance Godard</h2>
          </li>
          <li class="list-group-item">
            <h2><span class="h1 killer">R</span>ussell Stack</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="buttons" class="demo-content">
          <h1>Fit-or-Fat</h1>
          <h6>(the name is a subject to change)</h6>
          <div id="rfq" class="row">
            <div class="col-md-12">
              <div id="fitness-quotes" class="demo-content">
                <h4>Fitness Quote</h4>
                <p id="fq" class="random-quote"></p>
                <p id="fqa" class="random-quote-author"></p>
              </div>
            </div>
            <div class="col-md-12">
              <h2 class="header">Registered Users</h2>
              <ul>
                {{#each Users}}
                <p class="big text">{{id}}. {{username}}<br>
                  {{/each}}
              </ul>

            </div>
          </div>
          <button type="button" id="signinbtn" class="btn btn-primary btn-lg">Sign in</button>
          <!-- <p>Or</p> -->
          <button type="button" id="newuserbnt" class="btn btn-primary btn-lg">Create New User</button>
          <div class="main-text"></div>
        </div>
      </div>
    </div>
  </div>
</div> --}}


{{!-- <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>{{msg}}</h1>
          <h2>This is our Home Page!</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Example Text</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Enter Example Text">
            </div>
            <div class="form-group">
              <label for="example-description">Example Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Enter Example Description"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <h3>Examples:</h3>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div> --}}
{{!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="buttons" class="demo-content">
          <h1>Fit-or-Fat</h1>
          <h6>(the name is a subject to change)</h6>
          <button type="button" id="signinbtn" class="btn btn-primary btn-lg">Sign in</button>
          <!-- <p>Or</p> -->
          <button type="button" id="newuserbnt" class="btn btn-primary btn-lg">Create New User</button>
          <div class="main-text"></div>
        </div>
      </div>
    </div> --}}

<!-- Random Fitness Quote -->